bin/
obj/
.vs/
.vscode/
.idea/
TestResults/
*.user
*.suo
*.nupkg
ArmageddonRidge.Client/wwwroot/service-worker-assets.js
ArmageddonRidge.Client/bin/
ArmageddonRidge.Core/bin/
ArmageddonRidge.Tests/bin/
tools/ArmageddonRidge.AssetPipeline/bin/
