@using ArmageddonRidge.Core.Models

<div class="@ReadoutCss">
    <div class="readout-title">
        <span>@Label</span>
        <strong>@CurrentHealth HP</strong>
    </div>
    <div class="bar health"><span style="width:@HealthWidth"></span></div>
    <div class="bar shield"><span style="width:@ShieldWidth"></span></div>
</div>
